<div class="max-h-screen flex justify-center items-center p-5 bg-gray-100">
    <div class="text-center">
        <mat-icon class="!text-purple-700 my-8 icon">error_outline</mat-icon>
        <h1 class="text-4xl font-semibold mb-4">404</h1>
        <h3 class="text-gray-500 mb-4 text-2xl">Page not found</h3>
        
        <a routerLink="/shop" class="bg-purple-700 px-5 text-2xl cursor-pointer py-2 rounded-xl hover:bg-amber-400 hover:text-white transition duration-300">Back to shop</a>
    </div>
</div>
